.git
.github
.venv
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache
.coverage
htmlcov
tests
docs
deploy
secrets
.env
.env.*
*.md
!README.md
*.xprv
*.xpub
mnemonic.txt
config/sample.config.yaml
config/dev.config.yaml
config/*.local.yaml
